<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>calander</title>
  <!-- FullCalendar CSS & JS -->
<link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
    <body>
        <div class="container mt-4">
            <h2 class="mb-4">📅 My Calendar</h2>
            <div id="calendar"></div>
          </div>
          
    </body>

  </html>